<app-header></app-header>
<div class="cont" >
    <h4 class="t">Live Now</h4>
   
    <div class="row ">
        <div class="col-md-4">
            <div class="card mdb-color lighten-2 space z-depth-2">
                <div class="card-body">
                    <h5 class="card-title align-left"><button class="btn noHover hc">Leading yourself</button><button class="btn noHover cbb">americas</button> <i class="bi isize cbb bi-plus pull-right"></i></h5>
                    <h5 class="card-subtitle ts mb-2 text-muted">Session title</h5>
                    <h5 class="card-subtitle ts mb-2 text-muted">Speaker Name</h5>
                    <h6 class="space"><i class="bi bi-clock-history"></i>9.00am-10.00am PST</h6>
                    <p class="card-text">"Being an anti-racist requires persistent self-awareness, constant self-criticism,and self-examination."</p>
              
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card   z-depth-2">
                <div class=" space card-body">
                    <h5 class="card-title align-left"><button class="btn btn-warning noHover cbb">Leading yourself</button><button class="btn noHover cbb">americas</button> <i class="bi isize pull-right  bi-check2"></i></h5>
                    <h5 class="card-subtitle ts mb-2 text-muted">Session title</h5>
                    <h5 class="card-subtitle ts mb-2 text-muted">Speaker Name</h5>
                    <h6 class="space"><i class="bi bi-clock-history"></i>9.00am-10.00am PST</h6>
                    <p class="card-text">"Being an anti-racist requires persistent <br> self-awareness,constant self-criticism,and self-examination."</p>
              
                    
                </div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="card mdb-color lighten-2 z-depth-2">
                <div class=" space card-body">
                    <h5 class="card-title align-left"><button class="btn btn-success noHover cbb">Leading yourself</button><button class="btn noHover cbb">americas</button> <i class="pull-right bi bi-check2"></i></h5>
                    <h5 class="card-subtitle ts mb-2 text-muted">Session title</h5>
                    <h5 class="card-subtitle ts mb-2 text-muted">Speaker Name</h5>
                    <h6 class="space"><i class="bi bi-clock-history"></i>9.00am-10.00am PST</h6>
                    <p class="card-text">"Being an anti-racist requires persistent self-awareness,<br>   constant self-criticism,and self-examination."</p>
              
                    
                </div>
                </div>
        </div>
    </div>

    <h4 class="t cbb">featured Guest Speakers</h4>
    <div class="row cbb">
        <div class="col-md-3 cbb">

            <div class="card gcard">
                <img class="card-img-top" width="180" height="100" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title align-left">guest Speaker name</h5>
                  <h5 class="card-subtitle mb-2 text-muted">Speakers title & company</h5>
                  
                  <div class="row">                 
                    <div class="col-md-2">
                       <h3> <a class="bi bi-play-circle"></a></h3>
                    </div>
                
                    <div class="col-md-8" style="color: #16377e;">
                        <h5 >Sessions Name</h5><h6>Sessions Date&Time</h6>
                    </div>
                </div>  
                </div>
              </div>
            </div>
            <div class="col-md-3 cbb">

                <div class="card gcard" >
                    <img class="card-img-top" width="180" height="100" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                    <div class="card-body">

                      <h5 class="card-title align-left">guest Speaker name</h5>
                      <h5 class="card-subtitle mb-2 text-muted">Speakers title & company</h5>
                      
                      <div class="row">                 
                        <div class="col-md-2">
                           <h3> <a class="bi bi-play-circle"></a></h3>
                        </div>
                    
                        <div class="col-md-8" style="color: #16377e;">
                            <h5>Sessions Name</h5><h6>Sessions Date&Time</h6>
                        </div>
                    </div>  
                    </div>
                  </div>
                </div>
                <div class="col-md-3 cbb">

                    <div class="card gcard" >
                        <img class="card-img-top" width="180" height="100" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                        <div class="card-body">

                          <h5 class="card-title align-left">guest Speaker name</h5>
                          <h5 class="card-subtitle mb-2 text-muted">Speakers title & company</h5>
                          
                          <div class="row">                 
                            <div class="col-md-2">
                               <h3> <a class="bi bi-play-circle"></a></h3>
                            </div>
                        
                            <div class="col-md-6" style="color: #16377e;">
                                <h5>Sessions Name</h5><h6>Sessions Date&Time</h6>
                            </div>
                        </div>  
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 cbb">

                        <div class="card gcard">
                            <img class="card-img-top" width="180" height="100" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            <div class="card-body">

                              <h5 class="card-title align-left">guest Speaker name</h5>
                              <h5 class="card-subtitle mb-2 text-muted">Speakers title & company</h5>
                              
                              <div class="row">                 
                                <div class="col-md-2">
                                   <h3> <a class="bi bi-play-circle"></a></h3>
                                </div>
                            
                                <div class="col-md-8" style="color: #16377e;">
                                    <h5>Sessions Name</h5><h6>Sessions Date&Time</h6>
                                </div>
                            </div>  
                            </div>
                          </div>
                        </div>
                        
            </div>
<div class="space cbb">

</div>
            <h4 class="t cbb">Interactive Extras</h4>
            <div class="row cbb">
                <div class="col-md-4 cbb">
                  <img src="https://images.indianexpress.com/2020/12/Spotify_BLOOMBERG1.jpg" alt="sportify" width="450" height="150">
                </div>
                <div class="col-md-5 t cbb pull-left">
                  <h4>Join our spotify play list</h4>
                  <h5>description about spotify playlist goes here</h5>
                  <button  type="button" class="btn btn-light  bs"  data-mdb-ripple-color="dark">
                    Access the playlist
                  </button>
                </div>
            </div>

    
</div>
<div>

</div>