<app-header></app-header>
<div class="b">
<div class="cont" >
    <h4 class="t">Live Now</h4>
   
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ptc">
            <div class="card z-depth-2 mx-auto ml-auto">
                <div class="card-body">
                  <div class="row">
                    <div class="col-11 col-sm-10">
                    <h5 class="card-title align-left pull-left"><button class="btn noHover hc" style="width: auto;">Leading yourself</button>
                      <button class="btn noHover btn-light cbb">americas</button></h5> </div>
                      <div class="col-1 col-sm-2">
                      <h5><i class="bi isize cbb pull-right mr-auto" *ngIf=tog [innerText]="'+'" (click)="change()"></i>
                      <i class="bi isize cbb pull-right mr-auto" [ngClass]="{'bi-check2':!tog}" (click)="change()" ></i></h5>
                    </div>
                    </div>
                      <br>
                      <h6 class="card-subtitle ts mb-2 text-muted">Session title</h6>
                      <h6 class="card-subtitle ts mb-2 text-muted">Speaker Name</h6>
                      
                      <h6 class="space" style="padding-top: 6px;"><i class="bi bi-clock-history"></i>9.00am-10.00am PST</h6>
                    
                    <p class="card-text">“Being an anti-racist requires persistent self-awareness, constant self-criticism, and regular self-examination.” Ibram X Kendi We know we can do better...</p>
              
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ptc">
          <div class="card z-depth-2 mx-auto ml-auto">
              <div class="card-body">
                <div class="row">
                  <div class="col-11 col-sm-10">
                    <h5 class="card-title align-left"><button class="btn btn-warning noHover cbb">Leading yourself</button>
                      <button class="btn noHover btn-light cbb">americas</button>
                    </h5></div>

                    <div class="col-1 col-sm-2">
                      <h5><i class="bi isize cbb " *ngIf=tog1 [innerText]="'+'" (click)="change1()"></i>
                      <i class="bi isize cbb pull-right" [ngClass]="{'bi-check2':!tog1}" (click)="change1()" ></i></h5>
                  </div>
                  </div>

                      <br>
                      <h6 class="card-subtitle ts mb-2 text-muted">Session title</h6>
                      <h6 class="card-subtitle ts mb-2 text-muted">Speaker Name</h6>
                      <h6 class="space" style="padding-top: 4px;padding-bottom: 4px;"><i class="bi bi-clock-history"></i>9.00am-10.00am PST</h6>
                    <p class="card-text">“Being an anti-racist requires persistent self-awareness, constant self-criticism, and regular self-examination.” Ibram X Kendi We know we can do better...</p>
              
                    
                </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ptc">
          <div class="card z-depth-2 mx-auto ml-auto">
              <div class="card-body">
                <div class="row">
                  <div class="col-11 col-sm-10">
                    <h5 class="card-title align-left"><button class="btn btn-success noHover cbb">Leading yourself</button>
                      <button class="btn noHover cbb">americas</button> </h5></div>
                      <div class="col-1 col-sm-2">
                        <h5>
                      <i class="bi isize cbb pull-right" *ngIf=tog2 [innerText]="'+'" (click)="change2()"></i>
                      <i class="bi isize cbb pull-right" [ngClass]="{'bi-check2':!tog2}" (click)="change2()" ></i></h5>
                      </div></div>
                      <br>
                      <h6 class="card-subtitle ts mb-2 text-muted">Session title</h6>
                      <h6 class="card-subtitle ts mb-2 text-muted">Speaker Name</h6>
                      <h6 class="space" style="padding-top: 4px;padding-bottom: 4px;"><i class="bi bi-clock-history"></i>9.00am-10.00am PST</h6>
                    <p class="card-text">“Being an anti-racist requires persistent self-awareness, constant self-criticism, and regular self-examination.” Ibram X Kendi We know we can do better...</p>
              
                    
                </div>
                </div>
        </div>
    </div>

    <h4 class="t gap">Featured Guest Speakers</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

            <div class="card gcard mx-auto" style="border-color: none;">
                <img class="card-img-top" style="border-radius: 4px;" width="100%" height="50%" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title align-left">guest Speaker name</h5>
                  <h6 class="card-subtitle" >Speakers title & company</h6>
                  <br>
                  <div class="row">                 
                    <div class="col-xs-4 col-sm-4 col-md-3" >
                       <h3> <a class="bi bi-play-circle"></a></h3>
                    </div>
                
                    <div class="col-xs-8 col-sm-8 col-md-8" >
                        <h5 >Sessions Name</h5><h6>Sessions Date&Time</h6>
                    </div>
                </div>  
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 ptc">

              <div class="card gcard mx-auto">
                <img class="card-img-top" style="border-radius: 4px;" width="100%" height="50%" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title align-left">guest Speaker name</h5>
                  <h6 class="card-subtitle" >Speakers title & company</h6>
                  <br>
                  <div class="row">                 
                    <div class="col-md-2" >
                       <h3> <a class="bi bi-play-circle"></a></h3>
                    </div>
                
                    <div class="col-md-8" >
                        <h5 >Sessions Name</h5><h6>Sessions Date&Time</h6>
                    </div>
                </div>  
                </div>
              </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 ptc">

                  <div class="card gcard mx-auto">
                    <img class="card-img-top" style="border-radius: 4px;" width="100%" height="50%" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                <div class="card-body">
    
                  <h5 class="card-title align-left">guest Speaker name</h5>
                  <h6 class="card-subtitle" >Speakers title & company</h6>
                      <br>
                      <div class="row">                 
                        <div class="col-md-2" >
                           <h3> <a class="bi bi-play-circle"></a></h3>
                        </div>
                    
                        <div class="col-md-8" >
                            <h5 >Sessions Name</h5><h6>Sessions Date&Time</h6>
                        </div>
                    </div>  
                    </div>
                  </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 ptc">

                      <div class="card gcard mx-auto">
                        <img class="card-img-top" style="border-radius: 4px;" width="100%" height="50%" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                    <div class="card-body">
        
                      <h5 class="card-title align-left">guest Speaker name</h5>
                      <h6 class="card-subtitle" >Speakers title & company</h6>
                          <br>
                          <div class="row">                 
                            <div class="col-xs-12 col-sm-3 col-md-3">
                               <h3> <a class="bi bi-play-circle"></a></h3>
                            </div>
                        
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                <h5 >Sessions Name</h5><h6>Sessions Date&Time</h6>
                            </div>
                        </div>  
                        </div>
                      </div>
                        </div>
                  </div>

            <h4 class="t gap">Interactive Extras</h4>
            <div class="row">
                <div class="col-xs-10 col-sm-5 col-md-5 simg mx-auto">
                  <img src="https://images.indianexpress.com/2020/12/Spotify_BLOOMBERG1.jpg" alt="sportify" width="100%" height="70%">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 t pull-left">
                  <h4>Join our spotify play list</h4>
                  <h5>description about spotify playlist goes here</h5>
                  <button  type="button" class="btn ts bs"  data-mdb-ripple-color="dark">
                    Access the playlist
                  </button>
                </div>
            </div>

    



</div>