<div  id="myHeader" class="center">
  <h1 class="t "> Choose <span style="color:aqua;font-family: 'Dancing Script', cursive;font-size:60px" class="ml-2"> courage </span> over comfort</h1>
  <h3 class="t">February 15-19</h3>
  <h4 style="font-family: Arial, Helvetica, sans-serif;" class="t">Join us for first ever teams week, focused on your<br> courageous leadership journey as an individual and as team.</h4>
  <button  type="button" class="btn t br"  data-mdb-ripple-color="dark">
      Browse Sessions
    </button>
    <button  type="button" class="btn  t br"  data-mdb-ripple-color="dark">
      Download Activity Guide
    </button>
  </div>
  