div {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7),
    #0d274d),
        url(https://lh3.googleusercontent.com/-8DdxSN-S8lE/YD4WvgVkI5I/AAAAAAABPX4/jrAzijW1twsjqH6CEzbnMaL_c8IFja_MQCK8BGAsYHg/s0/2021-03-02.png);
    
    background-size: cover;
    background-position: center;
   
    background-attachment: fixed;
    
}



@media screen and (max-width: 768px) {
    div{
        height:60vh;
    }
}
@media screen and (max-width: 650px) {
    div{
        height:73vh;
    }
}
@media screen and (max-width: 550px) {
    div{
        height:75vh;
    }
}
@media screen and (max-width: 400px) {
    div{
        height:80vh;
    }
}

@media screen and (max-width: 300px) {
    div{
        height:100vh;
    }
}