

@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
  background-color:#0d274d ;
  scroll-behavior: smooth;
}
.colour{
  background-color: #0d274d ;

}
.tc{
color:#d6dae2;
}
.t{
  color: white;

}
.ts{
  color: #00bceb;
}
a:hover {
  background-color: #304d8b;
}

.bs{
  border-radius: 20px;
  border:1px;
  background-color: #00bceb;
  color: #0d274d;
}
.br{
  border-radius: 20px;
  border:1px;
  background-color: transparent;
  
  border: 2px solid #00bceb;
  margin-left: 3px;
  margin-right: 3px;
}
.br:hover{
  background-color: #00bceb;
}

.t.hover{
  color: #00bceb;
}
.teams{
  color: white;
  
}

.cont{
 
  padding-top: 10px;
}

.noHover{
  pointer-events: none;
}

.space{
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.hc{

background-color: #00bceb;
border-radius: 15px;
}
.cbb{
  padding-top: 8px;
  border-radius: 15px;
}

.isize{
    size: 2px;
}
.gcard{
  background-color: transparent;
  border-radius: 7px;
  width:250px;
  color: white;
}


.active{
    background-color: none;
    color: #00bceb;
      text-decoration: underline;
  }
  .active:hover{
      background-color:#0d274d;
  }

    .tspace{
        padding-top: 15px;
    }
    .st{
        font-family:Arial, Helvetica, sans-serif ;
        color: snow;
    }
    .box {
      background-color: #0d274d;
      color: #fff;
      border-radius: 5px;
      padding: 8%;
      font-size: 150%;
    }
   
.center {
  
  padding: 100px 0;
  padding-left: 40px;
  border: 5px solid #0d274d;
  
  
}    

.gap{
  padding-top: 30px;
}




@media screen and (max-width: 768px) {
  .card:hover {
    box-shadow: 8px 28px 50px rgba(39,44,49,.05), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
    transform: translate3D(0,-1px,0) scale(1.05);
  }

  .card{
    background-color: white;
    border-radius: 7px;
    width:90%;
    align-content: center;
   
    
}
.card-img-top{
  width: 100%;

  
}

header nav {
  display: none;
}
.navbrand.hover{
    background-color: #214083;
}

}
@media screen and (orientation: landscape) {
  header nav {
    position: fixed;
    left: 0;
    width: 20vw;
  }
}










/*

*{margin:0px;padding:0px;box-sizing: border-box;clear: both;}
body{background-color:#0d274d;scroll-behavior: smooth;}
.navbar{background-color:#0d274d !important;}
.fa-facebook{background-color:aqua;border-radius: 50%;padding:15px;color:#ffff}
.back_ban{background-image: url("../img/banner.png");width:100%;height:500px;background-repeat: repeat;}
.back_two{background-image: url("../img/bannertwo.png");width:100%;height:300px;background-repeat: repeat;}
.main_he{padding-top:60px;}
.fa-play-circle{color:#ffff}
.blr{color:lightgray;font-size: 12px;}
.slr{color:rgba(223, 217, 236, 0.911);font-size: 10px;padding-left: 20px;}
aside .card{background-color: #0d274d;border-bottom-left-radius:20px ;border-top-left-radius: 20px; border-top-right-radius: 20px;border-bottom-right-radius: 20px;}
.matterless{position:absolute;right: 300px; top: 200px;}
 .mastre{position: relative;
    left: 380px;
    top: -300px;
}
.topnav a:hover {
    border-bottom: 3px solid #00bceb;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #00bceb;
  }
.btn-info{padding-left:30px;
          padding-right:30px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius:20px;
        }
.newbt{
    padding-left:30px;
          padding-right:30px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius:20px;
          background-color: transparent;
          border: 2px solid white;
          color:#fff;
          margin-left:20px;
          height:40px;
}
@media(max-width:600px){
    .back_ban{
        height:600px;
    }
    .btn-info{
        margin-bottom:20px;
    }
    .mastre{

        position: absolute;
    }
   
}
@media(min-width:600px){
    .nayawall{
        position: relative;
        top:-300px;
    }
}


*/